.square {
    width: 4rem;
    height: 4rem;
    margin: 2px;
    align-items: center;
    justify-content: center;
    border: rgb(216, 194, 252) 5px solid;
}

.board-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status{
    text-align: center;
}

.game-info{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}

li {
    margin: 3px;
}

.game-board {
    border: rgb(216, 194, 252) 5px solid;
}