:root {
  --primary-color: #2d2d2d;
  --secondary-color: whitesmoke;
  --wrong-color: #424949;
  --misplaced-color: #F4D03F;
  --correct-color: #2ECC71;
  --border-color: #5F6A6A;
  --text-color: #2d2d2d;
  --accent-color: purple;
}

[data-theme="light"]{
  transition: all 1s ease;
  --primary-color: whitesmoke;
  --secondary-color: #2d2d2d;
  --wrong-color: #424949;
  --misplaced-color: #F4D03F;
  --correct-color: #2ECC71;
  --border-color: #5F6A6A;
  --accent-color: purple;
}


.app {
  transition: all 1s ease;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header {
  margin-top: 2em;
  justify-content: center;
}

.menu-bar{
  text-align: center;
}


.row {
  text-align: center;
  display: flex;
  justify-content: center;

}


.row div{
  border: 0.06em solid var(--border-color);
  height: 2em;
  width: 2em;
  font-weight: bold;
  text-align: center;
  display: block;
  place-items: center;
  font-size: 2.4em;
  color: var(--secondary-color)
}

.correct {
  background-color: var(--correct-color);
  color: var(--text-color)
}

.wrong {
  background-color: var(--wrong-color);
  color: var(--text-color)
}

.misplaced {
  background-color: var(--misplaced-color);
  color: var(--text-color)
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--wrong-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--accent-color);
}
